<ng-container [formGroup]="ownerFormGroup">
  <table>
    <thead>
    <tr>
      <th class="title">Licence Plate</th>
      <th class="title">Manufacturer Name</th>
      <th class="title">Model Name</th>
      <th class="title">Manufacturer Year</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr formArrayName="cars">
      <td>
        <mat-form-field class="car-form-field" appearance="outline">
          <mat-label> Licence Plate
          </mat-label>
          <input matInput formControlName="licencePlate" type="text">
<!--          <mat-error *ngIf="f['licencePlate'].touched && f['licencePlate'].invalid">-->
<!--                <span-->
<!--                  *ngIf="f['licencePlate'].errors && f['licencePlate'].errors['required']">This field is mandatory.</span>-->
<!--          </mat-error>-->
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="car-form-field" appearance="outline">
          <mat-label> Manufacturer Name
          </mat-label>
          <input matInput formControlName="manufacturerName" type="text">
<!--          <mat-error *ngIf="f['manufacturerName'].touched && f['manufacturerName'].invalid">-->
<!--            <span *ngIf="f['manufacturerName'].errors && f['manufacturerName'].errors['required']">This field is mandatory.</span>-->
<!--          </mat-error>-->
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="car-form-field" appearance="outline">
          <mat-label> Model Name
          </mat-label>
          <input matInput formControlName="modelName" type="text">
<!--          <mat-error *ngIf="f['modelName'].touched && f['modelName'].invalid">-->
<!--            <span *ngIf="f['modelName'].errors && f['modelName'].errors['required']">This field is mandatory.</span>-->
<!--          </mat-error>-->
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="car-form-field" appearance="outline">
          <mat-label> Manufacturer Year
          </mat-label>
          <input matInput formControlName="manufacturerYear" type="text">
<!--          <mat-error *ngIf="f['manufacturerYear'].touched && f['manufacturerYear'].invalid">-->
<!--            <span *ngIf="f['manufacturerYear'].errors && f['manufacturerYear'].errors['required']">This field is mandatory.</span>-->
<!--          </mat-error>-->
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button color="warn" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <button mat-raised-button color="primary" (click)="addCar()">
    <mat-icon>add</mat-icon>
    Add Car
  </button>
</ng-container>
